USE [master]
GO
/****** Object:  Database [BotWars]    Script Date: 9/22/2013 7:26:52 PM ******/
CREATE DATABASE [BotWars]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BotWars', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\BotWars.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BotWars_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\BotWars_log.ldf' , SIZE = 1536KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BotWars].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BotWars]
GO
/****** Object:  Table [dbo].[Author]    Script Date: 9/22/2013 7:26:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Author](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[FolderName] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Bot]    Script Date: 9/22/2013 7:26:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bot](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Rating] [float] NULL,
	[ExecutableName] [nvarchar](255) NULL,
	[Author_id] [int] NULL,
	[GamePlayed_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Game]    Script Date: 9/22/2013 7:26:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Game](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GameParticipant]    Script Date: 9/22/2013 7:26:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameParticipant](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NewRating] [float] NULL,
	[Result] [float] NULL,
	[Bot_id] [int] NULL,
	[GameRecord_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GameRecord]    Script Date: 9/22/2013 7:26:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameRecord](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RecordedDate] [datetime] NULL,
	[GamePlayed_id] [int] NULL,
	[Json] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[Bot]  WITH CHECK ADD  CONSTRAINT [FK983503247786A20E] FOREIGN KEY([GamePlayed_id])
REFERENCES [dbo].[Game] ([Id])
GO
ALTER TABLE [dbo].[Bot] CHECK CONSTRAINT [FK983503247786A20E]
GO
ALTER TABLE [dbo].[Bot]  WITH CHECK ADD  CONSTRAINT [FK98350324E846CA0] FOREIGN KEY([Author_id])
REFERENCES [dbo].[Author] ([Id])
GO
ALTER TABLE [dbo].[Bot] CHECK CONSTRAINT [FK98350324E846CA0]
GO
ALTER TABLE [dbo].[GameParticipant]  WITH CHECK ADD  CONSTRAINT [FKCDEF40CF14F08CF9] FOREIGN KEY([GameRecord_id])
REFERENCES [dbo].[GameRecord] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GameParticipant] CHECK CONSTRAINT [FKCDEF40CF14F08CF9]
GO
ALTER TABLE [dbo].[GameParticipant]  WITH CHECK ADD  CONSTRAINT [FKCDEF40CF1824445F] FOREIGN KEY([Bot_id])
REFERENCES [dbo].[Bot] ([Id])
GO
ALTER TABLE [dbo].[GameParticipant] CHECK CONSTRAINT [FKCDEF40CF1824445F]
GO
ALTER TABLE [dbo].[GameRecord]  WITH CHECK ADD  CONSTRAINT [FK729F55727786A20E] FOREIGN KEY([GamePlayed_id])
REFERENCES [dbo].[Game] ([Id])
GO
ALTER TABLE [dbo].[GameRecord] CHECK CONSTRAINT [FK729F55727786A20E]
GO
USE [master]
GO
